{% extends "base.html" %}

{% block content %}
<style>
    ul li {
        list-style-type: none;
    }

</style>

<h1>Biodata Mahasiswa</h1>

<ul class ="list_biodata" style="padding: 0; margin: 0;"> <hr>
    <li class="py-1"><b>Nama : <span style="text-transform: uppercase;">{{user.nama}}</b></span></li>
    <hr>
    <li class="py-1"><b>NIM : {{user.nim}}</b></li> <hr>
    <li class="py-1"><b>Email : {{user.email}}</b></li> <hr>
    <li class="py-1"><b>Jurusan : {{user.jurusan}}</b></li> <hr>
</ul>

{% endblock %}