{% extends "base.html" %}


{% block content %}
<style>
    #myInput {
        width: 30%; /* Full-width */
        font-size: 14px; /* Increase font-size */
        padding: 10px 20px 10px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 15px; /* Add some space below the input */
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    
    #myInput:focus {
        width: 100%;
    }
    
    #myTable {
        border-collapse: collapse; /* Collapse borders */
        width: 100%; /* Full-width */
        border: 1px solid #ddd; /* Add a grey border */
        font-size: 12px; /* Increase font-size */
    }
    
    #myTable th, #myTable td {
        text-align: left; /* Left-align text */
        padding: 12px; /* Add padding */
    }
    
    #myTable tr {
        /* Add a bottom border to all table rows */
        border-bottom: 1px solid #ddd;
    }
    
    #myTable tr:hover {
        /* Add a grey background color to the table header and on hover */
        background-color: #f1f1f1;
    }
</style>
<h1 class="text-center">Mahasiswa</h1>
<hr>
<div class="clearfix">
   
    
    <form>
        <a class="float-right" href="{{url_for('tambah_mhs')}}"><button type="button" class="btn btn-danger">Tambah Mahasiswa disini</button></a>
    </form>
</div>

<input type="text" id=myInput onkeyup="myFunction()" placeholder="Cari Nama..." class="cari_nama my-2">
<div class="table-responsive">
    <table id="myTable">
        <tr class="bg-info">
            <th>NAMA</th>
            <th>NIM</th>
            <th>EMAIL</th>
            <th>JURUSAN</th>
            <th>AKSI</th>
        </tr>
        {% for m in mb %}
        <tr>
            <td class="py-1" ><span style="text-transform:uppercase">{{m["nama"]}}</span></td>
            <td class="py-1" >{{m["nim"]}}</td>
            <td class="py-1" >{{m["email"]}}</td>
            <td class="py-1" >{{m["jurusan"]}}</td>
            <td>
                <a href="/mahasiswa/ubah/{{m.id}}">Ubah</a>
                <a href="/mahasiswa/lihat/{{m.id}}">Lihat</a>
                <a href ="/mahasiswa/hapus/{{m.id}}" onclick="return confirm('Data yang sudah dihapus tidak bisa dikembalikan. Yakin?')">Hapus</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<br>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } 
                else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}
